header{
    background-color: #2c3e50;
}

h2{
    color: #2c3e50;
    font-size: 48px;
    font-weight: 700;
}

p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: white;

}
.main{
    padding: 50px 0;
}

.container{
    border: 0;
}

.row-top::after{
    content: "";
    display: table;
    clear: both;
}

.navbar{
    margin-bottom: 0;
}

.container-fluid{
    padding: 25px 15px;
}

.navbar-default, .navbar-default .navbar-nav>.active>a{
    background-color: #2c3e50;
    border: 0;
}

.navbar-default .navbar-brand {
    font-size: 28px;
    font-weight: 700;
    color: white;
}


.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #1abc9c;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
    color: white;
}


.section-start{
    background-color: #1abc9c;
    text-align: center;
}


.smiling-guy{
    height: 240px;
    margin-top: 100px;
    margin-bottom: 48px;
    background-color: #1abc9c;
}

.smiling-guy img{
    height: 100%;
}

.main-title h1{
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.line-star{
    display: inline-block;
    margin: auto;
}

.line-star::after{
    content: "";
    display: table;
    clear: both;
}

.line-star i{
    font-size: 30px;
    padding: 0 10px;
    color: white;
    float: left;
}


.line{
    width: 100px;
    margin-top: 14px;
    border: 2px solid white;
    float: left;
}

.titles{
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: 300;
    color: white;
}
                                /* portfolio---------- */
.section-portfolio{
    padding: 65px;
    background-color: white;
    color: #2c3e50;
    text-align: center;
}

.line-star-dark{
    display: inline-block;
    margin: auto;
}

.line-star-dark::after{
    content: "";
    display: table;
    clear: both;
}

.line-star-dark i{
    font-size: 30px;
    padding: 0 10px;
    color: #2c3e50;
    float: left;
}


.line-dark{
    width: 100px;
    margin-top: 14px;
    border: 2px solid #2c3e50;
    float: left;
}
.img-portfolio{
    max-width: 380px;
    margin: auto;
    margin-top: 30px;
    position: relative;
}

.img-portfolio:after{
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(26, 188, 156, 0.9);
    position: absolute;
    top: 0;
    left: 0;
}

.img-portfolio:hover .img-portfolio:after{
    display: block;
}

.img-portfolio:hover i{
    display: block;
    color: white;
}

.img-portfolio img{
    border-radius: 10px;
    width: 100%;
}


.img-portfolio i{
    position: absolute;
    top: 100px;
    left: 144px;
    font-size: 68px;
    display: none;
}
                                /* about----------- */
.section-about{
    padding: 80px 0;
    background-color: #1abc9c;
    text-align: center;
}

.section-about h2{
    color: white;
}

.about-left{
    padding: 20px;
    text-align: left;
    font-size: 20px;
    color: white;
}

.about-right{
    padding: 20px;
    text-align: left;
    font-size: 20px;
    color: white;
}

.btn{
    padding: 20px 35px;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.1s linear;
    background-color: #1abc9c;
}

.btn:hover{
    background-color: white;
}

.btn i{
    padding-right: 10px;
}
                            /* Contact----------- */
.section-contact{
    padding: 80px 0;
    text-align: center;
}
.contact-form{
    max-width: 790px;
    margin: auto;
    text-align: left;
}

.credentials{
    border-bottom: 1px solid lightgrey;
}

.message{
    padding-bottom: 200px;
    border-bottom: 1px solid lightgrey;
}

input{
    padding: 30px 0;
    font-size: 24px;
    border: none;
}

.form-button{
    padding-top: 20px;
}

.form-button button:hover{
    background-color: #159a80;
    color: white;
}

footer{
    background-color: #2c3e50;
}

.location,
.around,
.about-freelancer{
    padding: 40px 0;
    text-align: center;
    color: white;
}

.location h3,
.around h3,
.about-freelancer h3{
    font-size: 24px;
    font-weight: 700;
}

.location span{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.around i{
    border-radius: 50%;
    border: 2px solid white;
    margin: 20px 5px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    transition: all 0.1s linear;
}

.around i:hover{
    background-color: white;
    color: #2c3e50;
}

.around i:nth-child(2){
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    padding-bottom: 10px
}

.around i:nth-child(3){
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.around i:nth-child(4){
    padding: 10px;
}

.around i:nth-child(5){
    padding: 10px;
}

.about-freelancer span{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;

}

.about-freelancer a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: #1abc9c;

}

.about-freelancer a:hover{
    color: #159a80;
    text-decoration: underline;
}

.copyright{
    padding: 20px 0;
    background-color: #1A252F;
    color: white;
    text-align: center;
}
